* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #EFE7D3;
    font-family: sans-serif;
}

header {
    border: 1px solid hotpink;
    text-align: center;
    background-color: #F8C0C8;
    margin: 1%;
    padding: 1%;
    margin-top: 0;
}

aside {
    border: 1px solid purple;
    background-color: #D3BBDD;
    float: left;
    width: 150px;
    height: 570px;
    text-align: center;
}

aside div {
    margin-top: 65%;
}

.container {
    border: 1px solid hotpink;
    background-color: #F8C0C8;
    display: inline-block;
    width: 1350px;
    height: 570px;
    margin-left: 1%;
}

.container-2 {
    border: 1px solid plum;
    background-color: #ECE3F0;
    display: inline-block;
    width: 300px;
    height: 140px;
    margin-top: 5%;
    margin-left: 5%;
}

.container-3 {
    border: 1px solid plum;
    margin-left: 5%;
    margin-top: 2%;
    width: 300px;
    height: 195px;
}

div img {
    width: 95px;
}

.right {
    width: 990px;
    height: 350px;
    float: right;
    margin-right: 2%;
    margin-top: 1%;
}

table{
    border: 2px solid plum;
    width: 990px;
    height: 350px;
    text-align: center;
}

thead{
    font-weight: bold; 
    height: 50px; 
    background-color: hotpink;
}

.one, .three{
    height: 40px; 
    background-color: bisque;
}

.two, .four{
    height: 40px; 
    background-color: burlywood;
}

.bottom {
    border: 1px solid plum;
    background-color: #ECE3F0;
    width: 1320px;
    height: 180px;
    margin-top: 1%;
    margin-left: 1%;
}

.bottom div {
    border: 1px solid purple;
    background-color: #D3BBDD;
    margin: 1%;
    width: 1290px;
    height: 40px;
}

footer{
    border: 1px solid hotpink;
    text-align: center;
    background-color: #F8C0C8;
    margin: 1%;
    padding: 1%;
    margin-bottom: 0;
}